<html ng-app="pathmaker">
    <link href="style.css" rel="stylesheet"/>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="path.controller.js"></script>
    <script src="ships.js"></script>
    <script src="geometry.js"></script>
    
    <body ng-controller="PathCtrl" ng-init="initialize()">
        <svg id="spacecanvas"
             class="space"
             ng-mousedown="isClickOnSprite($event)"
             ng-mousemove="drawing && drawPath($event)"
             ng-mouseleave="drawing = false"
             ng-mouseup="drawing && beginFlightPath()">
            
            <!--circle class="box" ng-style="sprite" ng-init="initialize()"></circle-->
            <polygon ng-repeat="eachShape in sprite.shape"
                     points="{{formatPoints(eachShape.points, sprite.cx, sprite.cy, sprite.currentAngle) || ''}}"
                     ng-style="eachShape.style"
                     class="shipShape" >
            </polygon>
            
            <polyline points="{{formattedPath || ''}}" class="flightPath"></polyline>
            
            <polyline points="{{formatPoints(test.inputPoints, 100, 100)}}" class="testPath1"></polyline>
            <polyline points="{{formatPoints(test.outputPoints, 100, 100)}}" class="testPath2"></polyline>
            
            <polyline points="{{formatPoints(test.inputPoints, 100, 250)}}" class="testPath1"></polyline>
            <polyline points="{{formatPoints(test.outputPoints2, 100, 250)}}" class="testPath2"></polyline>
            
        </svg>
        <div ng-if="true">
            <div>inputPoints = {{test.inputPoints}}</div>
            <div>outputPoints = {{formatPoints(test.outputPoints)}}</div>
            <div>outputPoints2 = {{formatPoints(test.outputPoints2)}}</div>
            <pre>pathPoints = {{pathPoints | json}}</pre>
            <pre>sprite = {{sprite | json}}</pre>
        </div>
    </body>
</html>