<html ng-app="pathmaker">
    <link href="style.css" rel="stylesheet"/>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="path.controller.js"></script>
    <script src="ships.js"></script>
    <script src="geometry.js"></script>
    <script src="splines.js"></script>
    <script src="numerical.js"></script>
    <script src="missile_logic.js"></script>
    
    <body ng-controller="PathCtrl" ng-init="initialize()">
        <div class="overlay whitetext">
            INSTRUCTIONS:<br>Click-and-drag on the space ship to draw a "flight path" for it.<br>Click away from the ship to "fire".
        </div>
        <svg id="spacecanvas"
             class="space"
             ng-mousedown="isClickOnSprite($event) ? startBuildingFightPath($event) : startFiring($event)"
             ng-mousemove="drawing && drawPath($event)"
             ng-mouseleave="(drawing && beginFlying()) || (hasStartedFiring && finishFiring($event))"
             ng-mouseup="(drawing && !isClickOnSprite($event) && beginFlying()) || (hasStartedFiring && finishFiring($event))">
            
            <!--circle class="box" ng-style="sprite" ng-init="initialize()"></circle-->
            <polygon id="ship"
                     ng-repeat="eachShape in sprite.shape"
                     points="{{formatPoints(eachShape.points, sprite.cx, sprite.cy, sprite.currentAngle) || ''}}"
                     ng-style="eachShape.style"
                     class="shipShape" >
            </polygon>
            
            <polygon ng-if="missiles"
                     id="missiles"
                     ng-repeat="missile in missiles"
                     points="{{formatPoints(missile.points, missile.cx, missile.cy, missile.angle) || ''}}"
                     ng-style="missile.style"
                     class="shipShape">
            </polygon>
            
            <circle ng-repeat="i in pathPoints" cx="{{i.x}}" cy="{{i.y}}" r="4" class="pathPoints"/>
            <polyline ng-if="smoothPath" points="{{smoothPath || ''}}" class="flightPath"></polyline>
            
        </svg>
        <div ng-if="false">
            <pre>pathPoints = {{pathPoints | json}}</pre>
            <pre>sprite = {{sprite | json}}</pre>
        </div>
    </body>
</html>